<!DOCTYPE html>
<html lang="en" xml:ns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Of Owners</title>
</head>
<body>
<h1 th:text="'List Of Owners'">Owners List</h1>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
    </thead>
    <tbody>
    <table>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">Aayushmaan</td>
            <td th:text="${owner.lastName}">Jaiswal</td>
        </tr>
    </table>
    </tbody>
</table>

</body>
</html>