<!DOCTYPE html>
<html lang="en" xml:ns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Of Vets</title>
</head>
<body>
<h1 th:text="'List Of Vets..'">List Of Vets</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Aayushmaan</td>
            <td th:text="${vet.lastName}">Jaiswal</td>
        </tr>
    </tbody>
</table>

</body>
</html>